// Colors
$color-background: #f8f8f8;
$color-cell-border: #000;
$color-cell-text: #000;
$color-x-piece: #f00;
$color-o-piece: #00f;
$color-win-highlight: #0f0;
$color-confeti: #ff0;

// Sizes

$size-board: 300px;
$size-cell: 100px;
$margin-between-cells: 5px;

// Animations

$animation-duration: 0.5s;
$confeti-duration: 0.5s;
